{
    "linters": {
        "eslint": {
            "parser": "babel-eslint", // Use this if you're using Babel
            "rules": {
                "react/jsx-uses-react": 1,
                "react/jsx-uses-vars": 1
            },
            "settings": {
                "import/resolver": {
                    "node": {
                        "paths": ["src"]
                    }
                },
                "import/extensions": [".js", ".jsx"]
            }
        }
    },
    "extensions": ["js", "jsx"]
}
